<footer>
    <div class="footer-content">
        <div class="footerlinks">
            <a href="impressum.html"> Impressum</a>
            <a href="datenschutz.html"> Datenschutz</a>
        </div>
        <div class="newsletter">
            <form action="">
                <label for="newsletter">Newsletter anmelden</label>
                <input type="text" name="Newsletter" id="newsletter" placeholder="E-Mail Adresse" required>
                <input type="submit" value="Absenden" id="submit">
            </form>

        </div>
        


    </div>

</footer>