<header>
    <div class="header-content">
        <a href="index.html" id="home"><img src="./img/logo.png"></a>
        <a href="index.html" class="small-logo" id="home-mobile"><img src="./img/logo_small.png"></a>
        <div id="menu" class="headermenu">
            <a href="index.html" class="header-a">Start</a>
            <a href="chicken.html" class="header-a">Rezept des Tages</a>
            <a href="contact.html" class="header-a">Kontakt</a>
            <a href="impressum.html" class="header-a">Impressum</a>

        </div>
        <div  class="mobile-menu-bar mobile-show">
            <img onclick="showMenu()" id="burger" class="mobile-menu-bar-icon" src="./img/bars-solid.svg" alt="">
            <img onclick="hideMenu()" id="cross" class="mobile-menu-bar-icon" src="./img/xmark-solid.svg" alt="">
        </div>
    </div>

</header>